article {
    transform: scale(0.65);
    padding: 2rem;
    min-width: 32rem;
    position: fixed;
    top: -9rem;
    right: -2%;
     /* Agregar altura fija y scroll vertical */
     max-height: 150vh; /* O la altura que prefieras */
     overflow-y: auto;
}
body {
    padding-bottom: 2rem;
    position: relative;
}
#productos{
    padding-inline: 4rem;
}
.aclaracion{
    font-size:medium !important;
    color: #c2c7d085 !important;
}
.card-producto{
    width: 300px;
    height: 500px;
    background-color: rgba(240, 248, 255, 0.103);
    
    border: 1px;
    border-radius: 10px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    gap: 10px;
    img{
        width: 230px;
        align-self: center;
    }
}
.card-producto>p{
    margin-bottom: 0px;
}
.card-producto>form>button{
    margin-bottom: 0px;
}
.div-cards-productos{
    margin-inline: 100px;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
}
.titulo-div-cards-productos{
    margin-bottom:80px;
    margin-top: 20px;
    /* margin-top: 150px; */
}
.boton-ver-mas{
    border: 2px;
    border-radius: 0.25rem;
    background-color: #cfd0d2;
    color: #10141b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 40px;
}
.titulo-card-producto{
    color: #fafafc;
}
.descripcion-card-producto{
    font-size: small;
}
.div-paginado{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.botones-anterior-siguiente{
    text-decoration: none;
    font-size: medium;
    color: #ffffff; 
    background-color: #0172ad;
    border: 1px;
    border-radius: 0.25rem;
    padding-inline: 10px;
    padding-block: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.producto-no-disponible{
    font-size: medium;
    height: 65px;
    z-index: 0;
}
.agregar-al-carrito-detalle{
    margin: auto;
}
.vista-detallada{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.imagenes-producto-vista-detallada{
    width: 150px; 
    height:auto;
}
.div-imagenes-producto-vista-detallada{
    display: flex;
    margin-block: 30px;
    gap: 10px;
}
nav{
    background-color: #2d2f3ac7;
    backdrop-filter: blur(10px);
    position: sticky;
    padding: 10px;
    width: 100%;
    margin: 0px !important;
    padding-bottom: 10px;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    z-index: 1;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    a{
        text-decoration: none;
    }
}
.filtros-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2px;
    border: #ff3300;
}
.filtros-botones{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.filtros-nav>h2{
    color: #10141b;
    font-size: large;
    margin-bottom: 0px;
}
.filtros-nav>.filtro-status>.filtros-botones>a{
    margin-top:  10px;
    color: #10141b;
    text-decoration: none;
    background-color: #cfd0d2;
    border: 1px;
    border-radius: 0.25rem;
    padding-inline: 5px;
    padding-block: 2px;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected{
    color: #cfd0d2 !important;
    background-color: #10141b !important;
}
.filtro-status{
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filtros-nav>.filtro-status>.nombre-y-borrar>p{
    color: #10141b;
    font-size: large;
    margin-bottom: 6px;
    font-weight: 600;
}
.filtro-categorias{
    width: 400px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.filtros-nav>.filtro-categorias>.filtros-botones>a{
    margin-top:  10px;
    color: #10141b;
    text-decoration: none;
    background-color: #cfd0d2;
    border: 1px;
    border-radius: 0.25rem;
    padding-inline: 5px;
    padding-block: 2px;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtros-nav>.filtro-categorias>.nombre-y-borrar>p{
    color: #10141b;
    font-size: large;
    margin-bottom: 6px;
    font-weight: 600;
}
.nombre-y-borrar{
    display:flex; 
    flex-direction:row; 
    justify-content:center;
    align-items: center;
    gap: 10px;
}
.nombre-y-borrar>p{
    margin-bottom: 0px;
}
.quitar-filtro{
    background-color:#0172ad;
    color:#cfd0d2;
    text-decoration: none;
    border: 1px;
    border-radius: 0.25rem;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}
.filtro-orden{
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filtros-nav>.filtro-orden>.nombre-y-borrar>p{
    color: #10141b;
    font-size: large;
    margin-bottom: 6px;
    font-weight: 600;
}
.filtros-nav>.filtro-orden>.filtros-botones>a{
    margin-top:  10px;
    color: #10141b;
    text-decoration: none;
    background-color: #cfd0d2;
    border: 1px;
    border-radius: 0.25rem;
    padding-inline: 5px;
    padding-block: 2px;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}
.total-carrito{
    justify-self: end;
}
.button-ver-carrito{
    position: fixed;
    right: 10px;
    top: 190px;
    background-color:#0172ad;
    color:#cfd0d2;
    text-decoration: none;
    border: 1px;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:larger;
    font-weight: 600;
}
.button-volver-a-productos{
    position: fixed;
    right: 10px;
    top: 20px;
    background-color:#0172ad;
    color:#cfd0d2;
    text-decoration: none;
    border: 1px;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:larger;
    font-weight: 600;
}
.eliminar-producto-carrito{
    width: 100px;
    height: 35px;
    margin-top:  10px;
    color: #10141b;
    text-decoration: none;
    background-color: #cfd0d2;
    border: 1px;
    border-radius: 0.25rem;
    padding-inline: 5px;
    padding-block: 2px;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-card-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.card-profile{
    
    width: 500px;
    height: 500px;
    background-color: rgba(240, 248, 255, 0.103);
    
    border: 1px;
    border-radius: 10px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    gap: 10px;
    img{
        border: 1px;
        border-radius: 100%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }
    #nombre-de-usuario{
        text-align: center;
    }
}
.div-error-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    height: 80dvh;
}

.img-default{
    border: 1px solid transparent;
    border-radius: 10px;
}
.img-default-details{
    border: 1px solid transparent;
    border-radius: 10px;
    height: 220px;
}
.boton-auth-google{
    background-color: white;
     border: 1px solid #ccc;
      padding: 10px 20px;
       cursor: pointer; 
       display: flex; 
       align-items: center; 
       gap: 10px;
    color: #0172ad;
}