<main style="display: flex; flex-direction:column; align-items:center; margin-top:50px">
  <h1 >Verifica tu mail!</h1>
  <h3>chequea la casilla de mensajes</h3>
  <form  style="width: 380px;">
    <input  type="text" name="email" id="email" value={{email}} disabled />
    <input  type="text" name="code" id="code" placeholder="Enter verify code!" />
    <input  type="button" id="verify" value="Verify!" />
  </form>
</main>
<script >
        document.querySelector("#verify").addEventListener("click", async () => {
    try {
        const email = document.getElementById("email").value;
        const code = document.getElementById("code").value;

        fetch(`/api/auth/verify/${email}/${code}`)
        .then((res) => {
            if (!res.ok) throw new Error("Código inválido");
            return res.json();
        })
        .then((data) => alert("✅ Usuario verificado correctamente"))
        .catch((err) => alert("❌ Error: " + err.message));

    } catch (err) {
        console.error("Error de verificación:", err);
        alert("❌ Error inesperado al verificar el código");
    }
    });

</script>