<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" >
    <link href="/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">HOME</a>
        {{!-- <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span>TOGGLE!</span>
        </button> --}}
        <div id="navbarNavAltMarkup">
            <div id="opts">
            </div>
        </div>
    </nav>
    {{{body}}}
    <script>
        const selector = document.querySelector("#opts");

        const isOnline = async () => {
        try {
            const opts = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            credentials: "include",
            };
            const url = "/api/auth/online";
            let response = await fetch(url, opts);
            response = await response.json();
            console.log(response);
            if (response.error) {
            selector.innerHTML = `
            <a href="/register"><button class="boton-ver-mas">Register</button></a>
            <a href="/login"><button class="boton-ver-mas">Login</button></a>
            `;
            } else {
            selector.innerHTML = `
            <a href="/profile"><button class="boton-ver-mas">Profile</button></a>
            <a href="/carts/682a32031b48dcb6e96c3014"><button class="boton-ver-mas">Cart</button></a>
            <button id="signout" class="boton-ver-mas">Sign out</button>
            `;
        document.querySelector("#signout").addEventListener("click", async () => {
        try {
            const opts = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            };
            const url = "/api/auth/signout";
            await fetch(url, opts);
            localStorage.removeItem("token");
            location.replace("/");
        } catch (error) {
            console.log(error);
        }
        });
            }
            
        } catch (error) {
            console.log(error);
        }
        };

        isOnline();

    </script>
</body>
</html>